@font-face {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;

  src: url('../fonts/Baloo-Regular.ttf');
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Baloo', sans-serif;
}

.body {
    background-color: #a5d1e7;

    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 20fr 1fr;
    grid-template-areas: 
        " . . . "
        " . c . "
        " . . . ";
}

.fill {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slight-header {
    font-size: 1.4rem;
}

.big-header {
    font-size: 1.7rem; 
}

.gray-text {
    font-weight: light;
    color: gray;
}

.main {
    border-radius: 20px;
    position: relative;
    grid-area: c;
    background-color: #f9f9ff;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

.input-general {
    display: block;
    margin: 20px 0px; 
    width: 10vw;
}

.action-button {
    width: 10.5vw;
    background-color: #a5d1e7;
    text-align: center;
    border-radius: 15px;
    transition: 0.2s linear 0s;
    margin: 10px 0px;
}

.action-button:hover {
    background-color: #7bb5de;
}

.logo-wrapper {
    margin-top: 20px;
    width: 70%; 
}

.logout-wrapper {
    padding: 5px;
    padding-left: 11%;
    width: 50%;
    margin-bottom: 20px;
    transition: 0.2s linear 0s;
    border-radius: 10px;
}

.logout-wrapper:hover {
    background-color: #b9dcec;
}

.logo {
    width: 100%;
}

.logout {
    width: 60%;
    padding-left: 20%;
}

p {
    margin: 0;
}

.about-text {
    font-size: 1.2rem;
    margin: 10px;
}

.gender-wrapper {
    display: flex;
    width: 60%;
    margin: 20px;
}

.gender-wrapper > label {
    flex-grow: 0.4;
}

.welcome-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    overflow: hidden;
}

.welcome-banner {
   height: 140%; 
   border-radius: 20px;
}

@keyframes pulseRed {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}
